
body {
    background: #eee;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    padding: 0 16px;
  }
  
.box {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }

  .info {
    display:flex;
    padding:10px;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
}

  .icon-img{
    border-radius: 70%;
    /* border: 7px solid #1d7c7c; */
    width: 100px;
    height: 100px;
  }