
body {
    background: #736b6b;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    padding: 0 16px;
  }
  
.box {
    background: #3C415C;
    border-radius: 7px;
    /* box-shadow: 0 2px 5px #ccc; */
    padding: 10px;
    width: 270px;
    margin: 16px;
    float: left;
    display: flex;
  }

  .info {
    display:flex;
    padding:10px;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
}

  .icon-img{
    /* border-radius: %;
    border: 7px solid #1d7c7c; */
    width: 100px;
    height: 100px;
  }

  h1, h2, p{
    color: #B4A5A5;
  }
